body {
    margin: 0;
    padding: 0; /* También puedes establecer el relleno en cero para evitar cualquier espacio adicional */
}
.container {
    margin-left: 20px; /* Ajusta el valor según el margen que desees */
}
/* Estilos para la barra de navegación */
.navbar {
    background-image: linear-gradient(45deg, #01ebbf 0%, #01f685 100%); /* Degradado de color */
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
}


/* Estilos para los enlaces dentro de la barra de navegación */
.navbar a {
    float: left;
    display: block;
    color: rgb(41, 40, 40);
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

/* Cambiar el color del texto de los enlaces cuando se pasan por encima */
.navbar a:hover {
    background-color: #01f685;
    color: black;
}
