<!DOCTYPE html>
<html>
<head>
    <title>Ver Turnos</title>
    <link rel="preload" href="{{ url_for('static', filename='font-awesome/css/all.min.css') }}" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity=xsha384-9HF2NvP+qcW7y+Q3PzCZI8dkxkX87CPvzALZ3KEU9e3+Em4sL0vo4o8r05a9kF2k" crossorigin="anonymous">
    <link href="https://fonts.cdnfonts.com/css/noto-sans-medefaidrin" rel="stylesheet">

</head>
<body>
    {% include 'navbar.html'%}
    <div style="margin-top: 60px" class="container">
        <h1>Turnos</h1>
        <table>
            <tr>
                <th>Opción</th>
                <th>Detalle</th>
                <th>Fecha</th>
            </tr>
            {% for turno in turnos %}
            <tr>
                <td>{{ turno.opcion.upper() }}</td>
                <td>
                    {% if turno.opcion == 'permiso' %}
                        {{ turno.sitio }}
                    {% else %}
                        {{ turno.codigo_postal }}
                    {% endif %}
                </td>
                <td>{{ turno.fecha_inicio.strftime('%d/%m/%Y %H:%M') }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</body>
</html>
